<div class="main">

    <div class="main-body">

        Character name: {{ fullCharacter.characterName}} <br />
        Party ID: {{ partyId }}
        <div class="generated-details">
            Race: {{ fullCharacter.race }} <br />
            Speed: {{ fullCharacter.speed }} <br />
            Ability score: {{ fullCharacter.abilityScore }} <br />
            Size: {{ fullCharacter.size }} <br />
            Languages: {{ fullCharacter.languages }} <br />
            Traits: {{ fullCharacter.traits }} <br />
            Class: {{ fullCharacter.charClass }} <br />
            Hit die: {{ fullCharacter.hitDie }} <br />
            Weapon proficiencies: {{ fullCharacter.weaponProficiencies}} <br />
            Proficiency: {{ fullCharacter.proficiency }} <br />
            Spellcasting: {{ fullCharacter.spellcasting }}
            Alignment: {{ fullCharacter.alignment }} <br />
            Starter Weapon: {{ fullCharacter.startingWeapon }} <br />
            Starter Armour: {{ fullCharacter.startingArmour }} <br />
            Starter Gear: {{ fullCharacter.startingGear }} <br />
            Starter Trinket: {{ fullCharacter.startingTrinket }} <br />

            Str: {{ fullCharacter.strength }}, {{ fullCharacter.strengthModifier }} <br />
            Dex: {{ fullCharacter.dexterity }}, {{ fullCharacter.dexterityModifier }} <br />
            Con: {{ fullCharacter.constitution }}, {{ fullCharacter.constitutionModifier }} <br />
            Int: {{ fullCharacter.intelligence }}, {{ fullCharacter.intelligenceModifier }} <br />
            Wis: {{ fullCharacter.wisdom }}, {{ fullCharacter.wisdomModifier }} <br />
            Cha: {{ fullCharacter.charisma }}, {{ fullCharacter.charismaModifier }} <br />
        </div>

        <button class="save-char" (click)="saveCharacter()">
            Save Character
        </button>

    </div>
</div>