.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:100%;
    height:fit-content;
    color: #06070e;
    font-family: 'Satisfy', cursive;
}

.main h1 {
    padding-top: 5%;
}

.main h1, .main h2, .main h3 {
    font-family: 'Satisfy', cursive;
    text-align: center;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #DBEBC0;
    border-radius: 5px;
    width:100%;
    height:100%;
    margin: auto;
    padding: 2%;
}

img {
    width: 10%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.divider {
    margin-top: 5%;
}

.chars ul {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    list-style: none;
}

.char_img {
    position: relative;
    text-align: center;
}

.divider img {
    width: 20%;
}

.logo img {
    width: 10%;
}

.char_img img {
    width: 60%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not-logged-in a {
    color: #820263;
}

.not-logged-in a:hover, .not-logged-in a:focus {
    text-decoration: underline;
    cursor:pointer;
}

.no-chars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 5%;
}

.no-chars p {
    text-align: center;
}

.no-chars button {
    width: 40%;
    height: fit-content;
    margin: auto;
}

  @media only screen and (max-width: 600px) {
    .main-body {
        padding-bottom: 10%;
    }

    p {
        font-size: 100%;
        line-height: 0.8;
    }

    .char_img img {
        width: 80%;
        margin: auto;
    }

    img {
        width: 20%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}