.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:100%;
    height:fit-content;
    color: #06070e;
    font-family: 'Satisfy', cursive;
}

.main h1, .main h2, .main h3, .main p {
    font-family: 'Satisfy', cursive;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #DBEBC0;
    border-radius: 5px;
    width:100%;
    height:100%;
    margin: auto;
    padding: 2%;
}

.splitter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5%
}

.profile, .character-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.character-list h1 {
    text-align: center;
    padding: 2%;
}

.profile h2 {
    font-size: 250%;
    text-align: center;
}

.profile p {
    font-size: 100%;
    text-align: center;
}

img {
    width: 20%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.logo img {
    width: 10%;
}

.character-list ul {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    list-style: none;
}

.char_img {
    position: relative;
    text-align: center;
}

.char_img img {
    width: 75%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.character-list li {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.delete {
    width: 40%;
    margin: auto;
}