<div class="main">

    <div class="main-body">
        <div class="splitter">
            <div class="profile">

                <h2>Your profile:</h2>
                <p>Name: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>

                <p *ngIf="user.isDM; else notDM">Are you a DM?: Yes</p>
                <ng-template #notDM><p>Are you a DM?: Not yet</p></ng-template>

                <p *ngIf="user.partyId != 0">Party Id: {{user.partyId}}</p>

            </div>

            <div class="character-list">
                <ul>
                    <li *ngFor="let char of characters">
                        Character name: {{ char.characterName }}
                        Race: {{ char.race }}, Class: {{ char.charClass }}
                        Level: {{ char.level }}, Exp: {{ char.experience }}, Alignment: {{ char.alignment }}
                        Str: {{ char.strength }}, Dex: {{ char.dexterity }}, Con: {{ char.constitution }}
                        Int: {{ char.intelligence }}, Wis: {{ char.wisdom }}, Cha: {{ char.charisma }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="logo">
            <img src="assets\dragon.png"
                alt="A blueish, reddish dragon, with two feet, has its wings extended and is roaring at you">
        </div>
    </div>


</div>