<div class="main">

    <div class="main-body">
        <div class="splitter">
            <div class="profile">

                <h2>Your profile:</h2>
                <p>Name: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>

                <p *ngIf="user.isDM; else notDM">Are you a DM?: Yes</p>
                <ng-template #notDM>
                    <p>Are you a DM?: Not yet</p>
                </ng-template>

                <p *ngIf="user.partyId != 0">Party Id: {{user.partyId}}</p>

                <p>Number of characters: {{ characters.length }}</p>

            </div>

            <div class="divider">
                <img src="assets\divider.png" alt="Black page divider, two black lines with a circle in the middle.">
            </div>

            <div class="character-list" *ngIf="characters.length > 0">
                <h1>Your characters</h1>
                <ul>
                    <li *ngFor="let char of characters">
                        <div class="char_img">
                            <img src="assets/small_parchment.png" alt="Parchment scroll">
                            <div class="centered">
                                Character name: {{ char.characterName }} <br/>
                                Race: {{ char.race }}, Class: {{ char.charClass }} <br/>
                                Level: {{ char.level }}, Exp: {{ char.experience }}, <br/>
                                Alignment: {{ char.alignment }} <br/>
                                Str: {{ char.strength }}, {{ char.strengthModifier }} <br/>
                                Dex: {{ char.dexterity }}, {{ char.dexterityModifier }} <br/>
                                Con: {{ char.constitution }}, {{ char.constitutionModifier }} <br/>
                                Int: {{ char.intelligence }}, {{ char.intelligenceModifier }} <br/>
                                Wis: {{ char.wisdom }}, {{ char.wisdomModifier }} <br/>
                                Cha: {{ char.charisma }}, {{ char.charismaModifier }} <br/>
                            </div>
                        </div>
                        <button class="delete" (click)="delete(char.id)">Delete</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="logo">
            <img src="assets\dragon.png"
                alt="A blueish, reddish dragon, with two feet, has its wings extended and is roaring at you">
        </div>
    </div>


</div>