<div class="main">

    <div class="main-body" *ngIf="!showRandomView">
        <h2 class="header">Time to create a character!</h2>
        <div class="splitter">
            <form class="charForm" [formGroup]="characterForm">

                <mat-form-field class="example-will-width" appearance="fill">
                    <mat-label>Character Name</mat-label>
                    <input type="text" matInput formControlName="characterName" placeholder="Name...">
                    <mat-error *ngIf="characterName.invalid && characterName.touched">
                        Please enter a valid (and cool) name.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-will-width" appearance="fill">
                    <mat-label>Set Your Party ID</mat-label>
                    <input type="number" matInput formControlName="partyId" placeholder="Party ID...">
                    <mat-error *ngIf="partyId.invalid && partyId.touched">
                        Your party ID must be 6 or more digits
                    </mat-error>
                </mat-form-field>

            </form>

            <button class="link-right" (click)="randomise()">
                <p>Randomise your character</p>
            </button>
        </div>

        <div class="random_char" *ngIf="showCustomView">
            Character name: {{ characterName.value }} <br />
            Party ID: {{ partyId.value }}
            <div class="generated-details">
                <div class="race-details">
                    Race: {{ generatedCharacter.race }} <br />
                    Speed: {{ generatedCharacter.speed }} <br />
                    Ability score: {{ generatedCharacter.abilityScore }} <br />
                    Size: {{ generatedCharacter.size }} <br />
                    Languages: {{ generatedCharacter.languages }} <br />
                    Traits: {{ generatedCharacter.traits }} <br />
                </div>
                <br />
                <div class="class-details">
                    Class: {{ generatedCharacter.char_class }} <br />
                    Hit die: {{ generatedCharacter.hit_die }} <br />
                    Weapon proficiencies: {{ generatedCharacter.weaponProficiencies}} <br />
                    Proficiency: {{ generatedCharacter.proficiency }} <br />
                    Spellcasting: {{ generatedCharacter.spellcasting }}
                </div>
            </div>
        </div>

        <button class="generate" (click)="showRandomView = true">
            Generate stats
        </button>
        <button class="back" (click)="reset()">
            Start again
        </button>
    </div>

    <div class="random-view" *ngIf="showRandomView">
        <app-random-character [generatedCharacter]="generatedCharacter" [partyId]="partyId.value"></app-random-character>
    </div>
</div>